<%- include("partials/head.ejs", { headTitle: 'Loggin | lend_me' })%>
<body>

	<main>
		<p>If you ar just curious and want to see the funcionality, log using the following data...<br/> name: sample, email: sample@example.com</p>
		<form action="/login" method="POST">
			<%- include(
				'partials/input.ejs', 
				{ labelText: 'Name', name: 'name', placeholder: 'Elsa Nurmy'})
			%>
			<%- include(
				'partials/input.ejs', 
				{ labelText: 'Email', name: 'email', type: 'email', placeholder: 'vampir@example.com'})
			%>
			
			<label><input type="checkbox" name="keepLogged"/>
			Keep you logged on this device
			</label>
			<button>Login</button>
		</form>
	</main>

	<%- include("partials/footer.html")%>
	
</body>
</html>
