<%- include("partials/head.ejs", { headTitle: 'Loggin | lend_me' })%>
<body>

	<main>
		<h1>Welcome to lend_me</h1>
		<p>A small app to keep track of the books you lend with your friends... It was made to exercise and improve my habillities in express and postgresql, tackling a little of data validation, error handling, cookies, jwt and user flow.</p>
		<p>A quick exercise of inventory management made in Express and Postgresql</p> 
		<p>If you ar just curious and want to see the funcionality, log using the following data...</p>
		<ul>
			<li>User: 'Juan Pérez', Pass: '<juan@example.com>'</li>
			<li>User: 'María García', Pass: '<maria@example.com>'</li>
			<li>User: 'Carlos López', Pass: '<carlos@example.com>'</li>
			<li>User: 'Ana Martínez', Pass: '<ana@example.com>'</li>
			<li>User: 'Luisa Rodríguez', Pass: '<luisa@example.com>'</li>
		</ul>

		<form action="/login" method="POST">
			<%- include(
				'partials/input.ejs', { 
					labelText: 'Name *', 
					name: 'name', 
					placeholder: 'Elsa Nurmy', 
					value: locals.name,
				})
			%>
			<%- include(
				'partials/input.ejs', { 
					labelText: 'Email *', 
					name: 'email', 
					type: 'email', 
					placeholder: 'vampir@example.com',
					value: locals.email,
				})
			%>
			
			<label><input type="checkbox" name="keepLogged"/>
			Keep you logged on this device
			</label>
			<button>Login</button>
		</form>
	</main>

	<%- include("partials/footer.html")%>
	
</body>
</html>
