<%- include("partials/head.ejs", {headTitle: 'New user | Lend_me' })%>
<body>
	<main>
	<h1>Hi <%= name %>!!!</h1>
	<p>No shitty spam nor ads nor meanigless communications, only th thing that you care for</p>
	<form action="/login/new" method="post">
		<%- include("partials/input.ejs", {
			labelText: "This will be your user name",
			name: "name",
			value: name || '',
			placeholder: 'Elsa Nurmy'
		})%>

		<%- include(
			"partials/input.ejs", {
				labelText: "This will be your email",
				name: "email",
				value: email || '',
				placeholder: 'vampir@example.com'
			}
		)%>
		<label>
			<input type="checkbox" name="keepLogged"/>
			Keep me logged in this device
		</label>
		<button>Create my user</button>
	</form>
	</main>
</body>
</html>
